<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>web0618</display-name>

	<servlet>
		<servlet-name>myServlet</servlet-name>
		<servlet-class>com.sinse.web0618.MyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>myServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>


	<!--회원 가입 요청을 처리하는 서블릿 매핑-->
	<servlet>
		<servlet-name>memberRegist</servlet-name>
		<servlet-class>com.sinse.web0618.member.controller.MemberRegist</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>memberRegist</servlet-name>
		<url-pattern>/member/regist</url-pattern>
	</servlet-mapping>

	<!--서블릿 생명 주기를 테스트하는 서블릿-->
	<servlet>
		<servlet-name>testServlet</servlet-name>
		<servlet-class>com.sinse.web0618.TestServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>testServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	
		<!--서블릿 생명 주기를 테스트하는 서블릿-->
	<servlet>
		<servlet-name>studyServlet</servlet-name>
		<servlet-class>com.sinse.web0618.StudyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>studyServlet</servlet-name>
		<url-pattern>/study</url-pattern>
	</servlet-mapping>


</web-app>