    /*stopWatch의 글꼴을 주기위한 링크 import*/
    @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
        
#wrapper{
    width: 1000px;
    height: 900px;
    margin: auto;
}

#aside{
    width: 200px;
    height: 800px;
    background-color: lightgreen;
    position: relative;
    text-align: center;
    float: left;
}

#content{
    width: 800px;
    height: 800px;
    background-color: bisque;
    float: left;
    position: relative;
    overflow: hidden;
}

#footer{
    width: 1000px;
    height: 100px;
    position: relative;
    float: left;
    line-height: 100px;
    background-color: lightskyblue;
    text-align: center;
    font-size: 45px;
    font-family: sans-serif;
}

#aside button{
    border: 3px solid black;
}

#start,#level,#howPlay,#reset,#record{
    width: 150px;
    height: 80px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
}

#watchWrapper{
    width: 150px;
    height: 100px; 
    margin: auto;
}

#watch{
    width: 150px;
    height: 100px;
    font-size: 30px;
    line-height: 100px;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
}

#levelprint{
    width: 150px;
    height: 100px;
    font-size: 40px;
    font-weight: bold;
    line-height: 100px;
    margin-top: 10px;
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
}

#wrap{
    width: 500px;
    height: 400px;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    display: none;
    position: absolute;
}

#lev1, #lev2,#lev3,#lev4,#lev5,#lev6,#lev7{
    width: 100%;
    height: 80px;
    border: 2px solid rgba(43, 41, 41, 0.774);
    border-bottom: 0px;
    background-color: lightskyblue;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
}

#lev8{
    width: 100%;
    height: 80px;
    border: 2px solid rgba(43, 41, 41, 0.774);
    background-color: lightskyblue;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
}

#howto{
    width: 800px;
    height: 800px;
    background-color: lightgrey;
    display: flex;
    text-align: center;
    display: none;
    position: absolute;
    z-index: 5555;
}

#howto h2{
    font-size: 40px;
    text-align: center;
    font-family: sans-serif;
}

#howto p{
    font-size: 19px;
    margin: 20px 60px;
    text-align: left;
    font-family: sans-serif;
}

#closehowto{
    width: 100px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    background-color: #888;
    border: 2px solid #222;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
}

#gameResultWrapper{
    width: 800px;
    height: 800px;
}

#gameResult{
    width: 800px;
    height: 800px;
    display: none;
    position: absolute;
    z-index: 5555;
}

#gameHeaderWrapper{
    width: 800px;
    height: 100px;
    text-align: center;
    font-size: 35px;
}

#record_round , #record_level{
    width: 150px;
    height: 100px;
    background-color: rgb(255, 234, 209);
    float: left;
    text-align: center;
    font-weight: bold;
    line-height: 100px;
    box-sizing: border-box;
    border: 3px dashed #666;
    border-radius: 8px;
    border-right: none;
    font-family: 'Orbitron', sans-serif;
}

#record_time{
    width: 500px;
    height: 100px;
    background-color: rgb(255, 234, 209);
    float: left;
    text-align: center;
    font-weight: bold;
    line-height: 100px;
    box-sizing: border-box;
    border: 3px dashed #666;
    border-radius: 8px;
    font-family: 'Orbitron', sans-serif;
}

#scoreBoard{ 
    width: 800px;
    height: 600px;
    font-size: 42px;
    border: 3px dashed #666;
    box-sizing: border-box;
    border-top: none;
    font-family: 'Orbitron', sans-serif;
}

#c_round , #c_level{
    width: 150px;
    height: 600px;
    float: left;
    background-color: #c7fac7;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    overflow: hidden;
}

#c_time{
    width: 494px;
    height: 600px;
    float: left;
    background-color: #c7fac7;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    overflow: hidden;
}

#buttonWrapper{
    width: 800px;
    height: 100px;
    border: 3px dashed #666;
    box-sizing: border-box;
    border-top: none;
    background-color: #c7fac7;
    text-align: center;
    line-height: 100px;
}

#recordClose{
    width: 100px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    background-color: lightgray;
    border: 2px solid #222;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block; 
}

#recordClose:hover {
    background-color: #666;
}

#howto button:hover {
    background-color: #555;
}

#lev1:hover,
#lev2:hover,
#lev3:hover,
#lev4:hover,
#lev5:hover,
#lev6:hover,
#lev7:hover,
#lev8:hover,
#level:hover,
#howPlay:hover,
#start:hover,
#reset:hover,
#record:hover {
    background-color: #bdbabafb;
}
