<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>mvcapp</display-name>

	<!-- 색상에 대한 요청 -->
	<servlet>
		<servlet-name>colorController</servlet-name>
		<servlet-class>com.sinse.mvcapp.controller.ColorController</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>colorController</servlet-name>
		<url-pattern>/color/advice</url-pattern>
	</servlet-mapping>
</web-app>