<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "mybatis-3-mapper.dtd">
<mapper namespace="Member">
	
	<!-- 이미 존재하는 회원인지 조회 -->
	<select id="checkDuplicate" resultType="Member" parameterType="String">
		select *from member where id = #{id}
	</select>

	<!-- 가입 -->
	<insert id="insert">
		insert into member(sns_provider_id,id,password,name,email) 
		values (#{SnsProvider.sns_provider_id},#{id},#{password},#{name},#{email})
	</insert>

</mapper>